.clear-input,
.clear-input:focus,
.clear-input:active,
.clear-input:visited,
.clear-input:focus-visible {
	background-color: transparent;
	border: none;
	outline: none;
	font-size: 24px;
	color: #ffffff80;
	flex: 1;
}
.cabal-btn {
	cursor: pointer;
	display: flex;
	padding: 8.5px 15.5px;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	border: none;
}
.cabal-btn span {
	font-family: Rajdhani, Helvetica, sans-serif;
	font-size: 22px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
.cabal-btn.primary {
	background: linear-gradient(180deg, #adfccd 0%, #34c680 72.92%);
}
.cabal-btn.primary span {
	background: linear-gradient(180deg, #093312 15.63%, #000 80.73%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
button.link {
	border: none;
	backgorund: none;
}

.callout {
	background: #ffffff;
	border-radius: 10px;
	padding: 10px 20px;
	margin: 20px 0;
	border: 1px solid #08270e;
}
.callout * {
	margin: 0;
	color: #08270e;
	text-decoration: underline;
	font-size: 24px;
	font-family: Rajdhani, Helvetica, sans-serif;
}
.info {
	background: #4c6ea8;
	border-radius: 10px;
	padding: 10px 20px;
	margin: 20px 0;
	border: 1px solid #162752;
}
.info * {
	margin: 0;
	color: #162752;

	font-size: 24px;
	font-family: Rajdhani, Helvetica, sans-serif;
}
