* {
	box-sizing: border-box;
	font-family: Rajdhani, Helvetica, sans-serif;
}
#extension {
	background-color: transparent;
	box-shadow: 0px 4px 20px -5px #05ff00, 0px 10px 15px 10px rgba(1, 35, 1, 0.25);
}
#extension-body {
	width: 550px;
	border-radius: 10px;
	flex-shrink: 0;
	border: 2px solid #40d63d;
	background: radial-gradient(
		84.83% 86.24% at 32.72% 73.81%,
		#000 0%,
		#072102 100%
	);
	padding: 12px;
	margin: 0;
	color: white;
}
#extension-body #extension-header {
	width: 100%;
	padding-bottom: 20px;
	display: flex; /* Add this line to make the children of #extension-header align in a row */
	justify-content: space-between; /* Add this line to distribute the space between the children */
}

#extension-body #extension-header div {
	display: flex; /* Add this line to make the children of the div align in a column */
	flex-direction: column; /* Add this line to make the children of the div align in a column */
}
#extension-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Rajdhani, Helvetica, sans-serif;
	margin: 0;
}
.page-title {
	color: #fff;
	font-family: Rajdhani, Helvetica, sans-serif;
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-align: center;
}
.page-subtitle {
	color: #fff;
	font-family: Rajdhani, Helvetica, sans-serif;
	font-size: 25px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	text-align: center;
}
#extension-body #extension-header h1 {
	text-shadow: 0px 2px 6px rgba(83, 193, 255, 0.25);
	font-family: Rajdhani, Helvetica, sans-serif;
	font-size: 40px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	background: linear-gradient(180deg, #1ddb80 0%, #1bb8cd 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#extension-body #extension-header h2 {
	text-shadow: 0px 2px 6px rgba(83, 193, 255, 0.25);
	font-family: Rajdhani, Helvetica, sans-serif;
	font-size: 20px;
	font-style: italic;
	font-weight: 200;
	line-height: normal;
	background: linear-gradient(180deg, #1ddb80 0%, #1bb8cd 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#extension-body #extension-header nav {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
}
#extension-body #extension-header a,
.link {
	color: #fff;
	font-family: Rajdhani, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	opacity: 0.5;
	text-decoration: none;
	transition: opacity 0.2s ease-in-out;
}
#extension-body #extension-header a:hover,
.link:hover {
	opacity: 1;
	text-decoration: underline;
	transition: opacity 0.2s ease-in-out;
}
#extension-body #extension-header a:hover {
	opacity: 1;
	text-decoration: underline;
	transition: opacity 0.2s ease-in-out;
}

#extension-footer {
	width: 100%;
	padding: 10px;
	margin-top: 10px;
}
#extension-footer p {
	color: #ffffff;
}
#extension-footer #welcome-message {
	text-align: center;
	text-shadow: 0px 2px 6px rgba(83, 193, 255, 0.25);
	font-family: Rajdhani, Helvetica, sans-serif;
	font-size: 15px;
	font-style: italic;
	font-weight: 200;
	line-height: normal;
	background: linear-gradient(180deg, #1ddb80 0%, #1bb8cd 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#extension-footer #progress-dots .dot {
	height: 0.5rem;
	width: 0.5rem;
	border-radius: 50%;
	border: 2px solid #ffffff;
	display: inline-block;
	margin: 0 0.5rem;
	background: transparent;
}
.dot.active {
	background: #ffffff;
}
#extension-footer #progress-dots {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 0.5rem;
}
#private-key-form {
}
// Buttons and inputs
.btn {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	font-family: Rajdhani, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	justify-content: space-between;
	align-items: center;
	border-radius: 14px;
	padding: 8px 12px;
	display: flex;
}
#private-key-input {
	flex: 1;
	color: #fff;
}
#next-id-btn {
	background: linear-gradient(180deg, #7774e9 0%, #4834c6 68.85%);
	color: #fff;
}
#private-key-input::placeholder {
	opacity: 0.5;
}

/* inject */
#cabal-sorel-button {
	display: inline-flex;
	padding: 8px 18px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 5px;
	background: #d4ffcd;
}
#cabal-sorel-button > span {
	color: #148734;
	font-family: Rajdhani, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
// twitter handle screen
.main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.main-container > * {
	margin: 0;
	flex: 0;
}

.title {
	color: #fff;
	font-family: Rajdhani, sans-serif;
	font-size: 30px;
	font-weight: 700;
	align-self: stretch;
	white-space: nowrap;
}

@media (max-width: 991px) {
	.title {
		white-space: initial;
	}
}

.form-container {
	justify-content: flex-start;
	align-items: center;
	border-radius: 14px;
	border: 1px solid rgba(124, 124, 124, 0.4);
	align-self: stretch;
	display: flex;
	margin-top: 25px;
	margin-right: 1px;
	width: 100%;
	padding: 4px 4px 4px 4px;
}

.input {
	padding: 11px 13px 11px 9px;
	border-radius: 10px;
	max-width: 100%;
	flex: 1;
}

.clipboard-container {
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	background: linear-gradient(180deg, #adfccd 0%, #34c680 72.92%);
	display: flex;
	padding: 11px 13px 11px 9px;
	flex-direction: column;
	border: none;

	font-family: Rajdhani, sans-serif;
	font-size: 16px;
	margin-bottom: -1px;
}

@media (max-width: 991px) {
	.clipboard-container {
		white-space: initial;
	}
}
