.twitter-page .tweet-message {
	color: #fff;
	font-family: Rajdhani, sans-serif;
	font-size: 22px;
	font-weight: 300;
	opacity: 0.5;
	align-self: stretch;
	width: 100%;
	border-radius: 15px;
	padding: 16px;
	border: 1px solid rgba(124, 124, 124, 0.4);
	margin-bottom: 10px;
	maring-top: 10px;
}
.twitter-page .tweet-message p {
	color: #fff;
	font-family: Radjhani, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	margin: 0;
}
#twitter-clipboard-btn {
	float: right;
	margin-left: auto;
}
#just-posted {
	border: 1px solid rgba(124, 124, 124, 0.4);
	border-radius: 10px;
	padding: 5px 10px;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
#just-posted:hover {
	background-color: rgba(255, 255, 255, 0.1);
	border-color: rgba(255, 255, 255, 0.9);
}
// ----- Home Page

.home-sub-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-radius: 10px;
	padding: 0 20px;
}
.home-sub-header #pfp {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
	background-color: gray;
}
.home-sub-header h3 {
	color: #fff;
	font-family: Rajdhani;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: 28px;
	flex: 0;
	width: min-content;
	margin: 0;
	padding: 0;
}
#profile-link,
#home-link {
	color: #fff;
	font-family: Rajdhani;
	font-size: 20px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	cursor: pointer;
	padding-bottom: 20px;
}
.fancy-wallet-text {
	//generate a cool text gradient
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.6) 0%,
		rgba(0, 0, 0, 0) 100%
	);
	-webkit-text-fill-color: #ffffff80;
	font-size: 26px;
	font-weight: 700;
	font-family: Rajdhani, sans-sarif;
}

.integration-container {
	display: flex;
	width: 100%;
	gap: 10px;
	flex-direction: row;
	flex-wrap: no-wrap;
	justify-content: space-between;
	align-items: center;
	margin-block: 20px;
}
.integration-square {
	justify-self: stretch;
	align-self: stretch;
	border-radius: 20px;
	flex: 1;
	aspect-ratio: 1/1;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	padding: 5px;
	cursor: pointer;
	border-radius: 10px;
	position: relative;
}

.integration-square::after {
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
	position: absolute;
	bottom: 0;
	right: 0;
	opacity: 0.5;
	margin: 10px;
	filter: invert(1);
}
.integration-square:hover::after {
	opacity: 1;
}
.integration-square img {
	height: auto;
	width: 50px;
	transform: translateY(-40%);
}
.integration-square .title {
	color: #ffffff60;
	font-family: Radjhani, sans-serif;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: auto;
}
.integration-square:hover .title {
	color: #fff;
	text-decoration: underline;
}
#nextid.integration-square {
	background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.6) 0%,
			rgba(0, 0, 0, 0) 100%
		),
		radial-gradient(60.79% 60.79% at 36.5% 61.25%, #7470e7 0%, #4934c6 100%);
}
#twitter.integration-square {
	background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.6) 0%,
			rgba(0, 0, 0, 0) 100%
		),
		radial-gradient(60.79% 60.79% at 36.5% 61.25%, #70a0e7 0%, #345dc6 100%);
}
#lens.integration-square {
	background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.6) 0%,
			rgba(0, 0, 0, 0) 100%
		),
		radial-gradient(60.79% 60.79% at 36.5% 61.25%, #1a6f23 0%, #0c4619 100%);
}
#eth.integration-square {
	background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.6) 0%,
			rgba(0, 0, 0, 0) 100%
		),
		radial-gradient(60.79% 60.79% at 36.5% 61.25%, #491a6f 0%, #3e0c46 100%);
}
#more-integrations {
	width: 100%;
	height: 50px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(95deg, #26b860 34.43%, #1c9353 53.9%);
}
#more-integrations > span {
	color: #ffffff70;
	font-family: Rajdhani, sans-serif;
	font-size: 26px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	cursor: pointer;
}
#more-integrations > span:hover {
	color: #fff;
	text-decoration: underline;
}
